#one:hover {
  color: rgb(123, 170, 156);
}
.context {
  width: 800px;
  text-align: justify;
  margin: -400px 500px 100px;
}
.form1 {
  font-size: 16px;
}
.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 238, 230);
  height: 200px;
  width: 10%;

  border-left: 6px solid rgb(123, 170, 156);
  height: 520px;
}

.navbar-item {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-left: 50px;
  margin-top: 60px;
  /* margin-right: 1000px; */
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}
